#Python Data Structure

1. What are data structures, and why are they important?
   - A Data structure is a way of storing, organizing and managing data so it can be used efficiently. Data structures are important because of they make data handling efficient, which saves time and memory.
2.  Explain the difference between mutable and immutable data types with examples?
    - Mutable data types are the data types whose values can be change or modify after creation. when you modify this same memory location is updated. example: list, dict, set
    - Immutable data types are the data types whose values can not be change or modify after creation. Any modification will create a new object in memory instead of modifying the old one. example: int, float, string, tuple, bool.
3. What are the main differences between lists and tuples in Python?
   - Lists are mutable data types. Lists defined using square brackets. Lists requires more memory.
   - Tuples are immutable data types. Tuples defined using parenthesis. Tuples require less memory.
4. Describe how dictionaries store data?
   - A dictionary in Python stores data as key-value pairs using a hash table. example: student = {"name": "Shruti", "age": 20}
5. Why might you use a set instead of a list in Python?
   - A set is used when you need to store only unique elements and perform fast membership tests. Sets are also useful for mathematical operations like union, intersection, and difference, which are not directly available with lists.
6. What is a string in Python, and how is it different from a list?
   - A string in Python is a sequence of characters enclosed in single quotes, double quotes, or triple quotes. Strings are immutable, meaning once created, they cannot be changed.
   - A string stores characters only and is immutable, so you cannot modify its elements directly. A list can store different data types (numbers, strings, objects, etc.) and is mutable, meaning its elements can be changed, added, or removed.
7. How do tuples ensure data integrity in Python?
   - Tuples ensure data integrity in Python because they are immutable, meaning once a tuple is created, its elements cannot be changed, added, or removed. This immutability guarantees that the stored data remains fixed and consistent throughout the program, preventing accidental modifications. Tuples are often used to represent constant collections of values, such as coordinates, dates, or keys in dictionaries, where data integrity and reliability are important.
8. What is a hash table, and how does it relate to dictionaries in Python?  
   - A hash table is a data structure that stores data in key–value pairs and uses a hash function to compute an index for each key, which decides where its value is stored in memory. This allows for very fast data retrieval.
   - In Python, dictionaries are implemented using hash tables. When you store a key–value pair in a dictionary, Python hashes the key to find a memory location and stores the value there. This is why dictionary lookups, insertions, and deletions are very efficient.
9. Can lists contain different data types in Python?
   - yes, lists containes different data types in python. example: list = ["shruti", 66, true, 5.07]
10. Explain why strings are immutable in Python?
    - Strings are immutable in Python because once they are created, their contents cannot be changed or modified.
11. What advantages do dictionaries offer over lists for certain tasks?
    - Dictionaries offer advantages over lists when data needs to be stored and accessed using a key rather than a numeric index. With dictionaries, lookups, insertions, and deletions are much faster because they use hashing, while lists require sequential searching for non-indexed access. Dictionaries also allow for more meaningful data representation by pairing keys with values, making the code easier to read and maintain.
12. Describe a scenario where using a tuple would be preferable over a list?
    - Using a tuple is preferable when you need to store a fixed set of values that should not change throughout the program. For example, storing the coordinates of a point (x, y) or representing the days of the week is best done with a tuple, since these values are constant and should remain unchanged. Tuples ensure data integrity by preventing accidental modifications and also offer better performance and lower memory usage compared to lists.
13. How do sets handle duplicate values in Python?
    - Sets in Python automatically remove duplicate values because they are designed to store only unique elements. When you add duplicate items to a set, Python keeps just one copy and ignores the rest.
    - For example, set([1, 2, 2, 3]) will result in {1, 2, 3}. This property makes sets useful for tasks like filtering duplicates from a collection.
14. How does the “in” keyword work differently for lists and dictionaries?
    - For a list, in checks whether a given value exists among the list elements, so 3 in [1, 2, 3] returns True. For a dictionary, in checks only the keys, not the values. For example, in {"a": 1, "b": 2}, the expression "a" in dict returns True, but 1 in dict returns False since 1 is a value, not a key.
15. Can you modify the elements of a tuple? Explain why or why not?
    - No, you cannot modify the elements of a tuple in Python because tuples are immutable. Once a tuple is created, its elements are fixed and cannot be changed, added, or removed. This immutability ensures data integrity and makes tuples useful for storing constant or unchanging data. If you need a sequence that can be modified, you should use a list instead.
16. What is a nested dictionary, and give an example of its use case?
   - A nested dictionary is a dictionary that contains another dictionary as its value. It is used to represent hierarchical or structured data. For example, you can use a nested dictionary to store student records where each student has multiple details: students = {
    "101": {"name": "Shruti", "age": 20, "course": "Data Science"},
    "102": {"name": "Amit", "age": 21, "course": "AI"},
}
17. Describe the time complexity of accessing elements in a dictionary?
    - Accessing elements in a Python dictionary has an average time complexity of O(1) because dictionaries use a hash table internally. The key is hashed to find the exact memory location of the value, making lookups very fast. However, in rare cases of hash collisions, the time complexity can degrade to O(n), but Python’s optimized hashing and collision handling keep lookups nearly constant time in practice.
18. In what situations are lists preferred over dictionaries?
    -  Lists are preferred over dictionaries when the data is ordered, simple, and does not need key–value mapping. They are ideal when you only care about the sequence of elements and will access them by index rather than by a unique key. For example, storing a list of numbers [10, 20, 30] or names ["Shruti", "Amit", "Neha"] is more straightforward with a list. Lists are also better when you expect duplicate values, since dictionaries do not allow duplicate keys.
19. Why are dictionaries considered unordered, and how does that affect data retrieval?
    - Dictionaries are considered unordered because their elements are stored based on the hash values of keys, not in a sequential order like lists. This means you cannot rely on the position of items to access them; instead, you must use their keys.
     The unordered nature ensures that data retrieval is based on fast key lookups rather than positional indexing, making access efficient but not sequence-dependent.
20. Explain the difference between a list and a dictionary in terms of data retrieval.
    - The main difference between a list and a dictionary in terms of data retrieval is how elements are accessed. In a list, elements are retrieved using their index positions, such as my_list[0] to get the first element. In a dictionary, elements are retrieved using their keys, such as my_dict["name"] to get the value for that key. This makes lists better for ordered, sequential data, while dictionaries are better when fast lookups by meaningful identifiers (keys) are needed.

In [1]:
#Q1:  Write a code to create a string with your name and print it
name = "Shruti"
print(name)

Shruti

In [2]:
#Q2:  Write a code to find the length of the string "Hello World".
str = "hello world"
print (len(str))

11

In [3]:
#Q3:  Write a code to slice the first 3 characters from the string "Python Programming"
str = "Python Programming"
print(str[:3])

Pyt

In [4]:
#Q4: Write a code to convert the string "hello" to uppercase.
str = "hello"
print(str.upper())

HELLO

In [5]:
#Q5. Write a code to replace the word "apple" with "orange" in the string "I like apple"
str = "I like apple"
print(str.replace("apple", "orange"))

I like orange

In [6]:
#Q6. Write a code to create a list with numbers 1 to 5 and print it.
list = [1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

In [7]:
#Q7.  Write a code to append the number 10 to the list [1, 2, 3, 4]
list = [1, 2, 3, 4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [8]:
#Q8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
list = [1, 2, 3, 4, 5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [9]:
#Q9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']
list = ['a', 'b', 'c', 'd']
print(list[1])

b

In [10]:
#Q10. Write a code to reverse the list [10, 20, 30, 40, 50].
list = [10, 20, 30, 40, 50]
list.reverse()
print(list)

[50, 40, 30, 20, 10]

In [11]:
#Q11.  Write a code to create a tuple with the elements 100, 200, 300 and print it.
tuple = (100, 200, 300)
print(tuple)

(100, 200, 300)

In [12]:
#Q12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tuple = ('red', 'green', 'blue', 'yellow')
print(tuple[1:])

('green', 'blue', 'yellow')

In [13]:
#Q13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
tuple = (10, 20, 5, 15)
print(min(tuple))

5

In [14]:
#Q14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tuple = ('dog', 'cat', 'rabbit')
print(tuple.index("cat"))

1

In [15]:
#Q15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
tuple = ("apple", "mango", "kiwi", "watermelon")
"kiwi" in tuple

True

In [16]:
#Q16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
my_set = {'a', 'b', 'c'}
print(my_set)

{'a', 'b', 'c'}

In [17]:
#Q17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [18]:
#Q18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
set = {1, 2, 3, 4}
set.remove(4)
print(set)

{1, 2, 3}

In [19]:
#Q19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [20]:
#Q20.  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.intersection(set2))

{3}

In [21]:
#Q21.  Write a code to create a dictionary with the keys "name", "age", and "city", and print it
dict = {"name": "Shruti", "age": 20, "city": "Mumbai"}
print(dict)

{'name': 'Shruti', 'age': 20, 'city': 'Mumbai'}

In [22]:
#Q22. Write a code to add a new key-value pair "country": "USA" to the dict
dict = {"name": "Shruti", "age": 20, "city": "Mumbai"}
dict["country"] = "USA"
print(dict)

{'name': 'Shruti', 'age': 20, 'city': 'Mumbai', 'country': 'USA'}

In [23]:
#Q23.  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
dict = {'name': 'Shruti', 'age': 20}
print(dict["name"])

Shruti

In [24]:
#Q24.  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del dict["age"]
print(dict)

{'name': 'Bob', 'city': 'New York'}

In [25]:
#Q25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
dict = {'name': 'Alice', 'city': 'Paris'}
"city" in dict

True

In [26]:
#Q26. Write a code to create a list, a tuple, and a dictionary, and print them all.
list = [1,2,3,4,5]
print(list)
tuple = (1,2,3,4,5)
print(tuple)
dict = {"name": "shruti", "age": 20, "marks": 60}
print(dict)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)
{'name': 'shruti', 'age': 20, 'marks': 60}

In [27]:
#Q27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
list = [25, 60, 20, 73, 99]
list.sort()
print(list)

[20, 25, 60, 73, 99]

In [28]:
#Q28. Write a code to create a list with strings and print the element at the third index.
list = ["shruti", "gauri", "samruddhi", "rutika", "minal"]
print(list[3])

rutika

In [29]:
#Q29. Write a code to combine two dictionaries into one and print the result.
dict1 = {"name": "shruti", "age": 20}
dict2 = {"standard": "TE", "marks": 60}
dict1.update(dict2)
print(dict1)

{'name': 'shruti', 'age': 20, 'standard': 'TE', 'marks': 60}

In [36]:
#Q30. Write a code to convert a list of strings into a set.
names = ["shruti", "gauri", "samruddhi", "shruti", "rutika", "gauri", "minal"]
new_set = frozenset(names)
print(new_set)
# print(set)

frozenset({'samruddhi', 'minal', 'shruti', 'gauri', 'rutika'})